.about {
  padding: 80px;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 50px;
    height: 1px;
    width: 80%;
    transform: translateX(-50%);
    background: linear-gradient(
      to right,
      transparent,
      var(--color-black),
      transparent
    );
  }
}

.about__content {
  display: flex;
  column-gap: 80px;
}

.about__description {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  text-align: left;

  p {
    line-height: var(--line-height-lg);
    flex-shrink: 0;
    flex-grow: 0;
  }

  a {
    align-self: flex-start;
  }
}

.about__images {
  display: flex;
  column-gap: 24px;
  width: 100%;
}

.about__image {
  width: 100%;
  aspect-ratio: 16/21;
  background-size: cover;
}

.about__image--1 {
  align-self: flex-end;
  background-image: url('../../assets/img/hero-2.jpg');
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.about__image--2 {
  align-self: flex-start;
  background-image: url('../../assets/img/hero-1.jpg');
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
