@import '../components/product-card.css';

.products {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 50px;
    height: 1px;
    width: 80%;
    transform: translateX(-50%);
    background: linear-gradient(
      to right,
      transparent,
      var(--color-black),
      transparent
    );
  }
}

.products h1 {
  margin-bottom: 8px;
}

.products h2 {
  margin-bottom: 80px;
}

.products__filters {
  display: inline-block;
  margin-bottom: 40px;
  padding: 8px;
  background-color: var(--color-bright-grey);
  border-radius: 40px;
}

.products__filter-button {
  width: 180px;
  padding: 16px;
  border: none;
  background-color: transparent;
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    background-color: rgb(255 255 255 / 0.8);
  }
}

.products__filter-button--active {
  background-color: var(--color-white);
  cursor: auto;
  &:hover {
    background-color: var(--color-white);
  }
}

.products__list {
  display: flex;
  column-gap: 24px;
  overflow-x: auto;
}
