.text-sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-md);
}

.text-md {
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
}

.text-lg {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}

.text-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
}

.text-xxl {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-sm);
}

body {
  font-family: var(--font-text);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  color: var(--color-black);
}
